* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 1320px;
    max-width: 1600px;
    margin: 0 auto;
}

.banner {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 50px auto;
}

.banner-text {
    padding-top: 170px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-party {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin: 0 auto;
}

/* main section style start from here */

/* 1st section */

.holiday-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}

.holiday-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.Categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.holiday-image {
    width: 802.9px;
    height: 500px;
    margin: 48px auto 0 auto;
    display: block;
}

#off {
    padding: 40px 0;
}

/* 2nd section */

.banner2-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    width: 642px;
}

.banner2-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    line-height: 30px;
    margin-bottom: 45px;
}

.banner2 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../image/resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    font-family: Inter;
    border-radius: 8px;
    background: #ab8b91;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.btn:hover {
    background-color: rgb(210, 19, 108);
    transition: 2s;
}

/* 3rd section */

.location-content {
    height: 495px;
    border-radius: 16px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.location {
    padding: 100px 385px 0px 385px;
}

.town {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 56px;
    text-transform: capitalize;
}

.exact {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn2 {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
}

/* 4th section */

.offer-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 120px auto;
}

.offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.come {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.bonus-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 392px;
}

.bonus-description2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-bottom: 43px;
}

.num {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.round {
    padding: 49.8px;
    border-radius: 463px;
    border: 15px solid #F00;
}

/* 5th section */

.holi-day {
    color: #F00;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.what-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.what-description {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 26px;
}

.what-description2 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    width: 900px;
    margin: 0 auto;
}

.what {
    text-align: center;
}

/* 6th section */

.function {
    display: flex;
    margin: 64px auto 0 auto;
    background-image: url('../image/resources/Rectangle\ 1.png'), url('../image/resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: right top, bottom;
    width: 1320px;
}

.gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.gift-awesome {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.gift-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 896px;
    margin-bottom: 48px;
}

.image3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.image6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.awesome {
    margin: 120px auto;
}

/* 7th section */

.newsletter {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 640px;
    margin: 120px auto;
}

.mail {
    padding: 80px 585px 40px 585px;
}

.mail-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin: 40px auto;
}

.news {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.btn3 {
    margin-left: -5px;
    border: none;
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

input {
    border: none;
    width: 438px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    background: #FFF;

}

/* main section style end here */

/* footer section style start from here */

.foot {
    background: #070211;
    height: 630px;

}

.foot-part1-left {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    gap: 560px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 120px 0 50px 0;
}

.foot-location{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    width: 375px;
}

.number, .link{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}
.phone,
.website {
margin-right: 10px;
}

.foot-part2-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-part3-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-middle{
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #070211;
    gap: 24px;
    padding: 48px 0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}

.foot-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    width: 1320px;
    margin: 0 auto;
}

.rights{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 50px 0;
}
.un-subscribe{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background: #070211;
    border: 0;
}